

.cont1{
    background-image: url(../img/12.jpg);
    max-width: 100%;
    background-size: cover;
    height: 500px;
    position: relative;
    margin-bottom: 2rem;
}

.container1{
    border-radius: 5px solid rgba(220, 39, 145, );
    text-align: right;
}
p{
    color: aliceblue;
}